.title{
    color:#03045e; 
    font-size: xx-large;
    font-weight: bolder;
}

.container{
    margin-top: 5rem;
    padding: 0px 2rem;
}

ion-input{
    margin-top: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
    